<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <title>Error</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/error.css" />
</head>
<body>
<h2 align="center">这是一个错误的页面</h2>
<div align="center">
    <a href="/home">点我回到首页</a>

</div>

</body>
</html>
