<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:style="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>lastisee</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href="../static/css/home.css" />
</head>
<body>
<div th:include="navbar :: navbar"></div>

<div class="container">
    <div style="color: #00b4ef;text-align: center;font-size: 20px">
        <p2 >这是首页哦 （●>∀<●）</p2>

    </div>
<input type="hidden" id="pageInfo" th:value="${pageInfo}">
    <table class="table table-striped" id="homeTable">
        <tr>
            <th>标题</th>
            <th>作者</th>
            <th>发表时间</th>
            <th >评论</th>
        </tr>

        <tr th:each="article : ${pageInfo.list}">


            <!--<div class="page-header">-->

                <td th:value="${article.title}" >

                    <a th:href="@{/article/show(id=${article.articleId})}">
                        <p th:text="${article.title}" ></p>
                    </a>
                </td>
            <td th:text="${article.authorName}"  id="authorName">

            </td>

            <td th:text="${article.createTime}"  id="createTime">

            </td>
            <td th:text="${article.commentNum}"  id="commentNum" style="color: #00b4ef;font-size: 15px">

            </td>
            <!--</div>-->
        </tr>
    </table>
    <p id="tip" style="text-align: center;margin-top: 50px;margin-bottom: 40px;color: #00b4ef">

    </p>

    <nav class="nav nav-pills pull-right" >
        <ul class="pagination" >
            <li><a href="#" style="color: #00b4ef;">&laquo;</a></li>

            <li>
                <a th:if="${not isFirstPage}" th:href="@{${'/home'}(pageNum=${pageNum-1},pageSize=${pageSize})}" style="color: #00b4ef;">Previous</a>
                <a th:if="${isFirstPage}" href="javascript:void(0);" style="color: #00b4ef;">Previous</a>
            </li>

            <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${pageNum eq pageNo}" href="javascript:void(0);" style="color: black">
                    <span th:text="${pageNo}"></span>
                </a>
                <a th:if="${not (pageNum eq pageNo)}" th:href="@{${'/home'}(pageNum=${pageNo},pageSize=${pageSize})}"style="color: #00b4ef;">
                    <span th:text="${pageNo}"></span>
                </a>
            </li>
            <li>
                <a th:if="${not isLastPage}" th:href="@{${'/home'}(pageNum=${pageNum+1},pageSize=${pageSize})}" style="color: #00b4ef;">Next</a>
                <a th:if="${isLastPage}" href="javascript:void(0);" style="color: #00b4ef;">Next</a>
            </li>

            <li><a href="#" style="color: #00b4ef;">&raquo;</a></li>
        </ul>
    </nav>


</div>
<div class="row" id="footer">
    <div class="col-md-7 col-md-offset-5">

        <div th:include="footer :: footer"></div>

    </div>
</div>
</body>
</html>
<script type="text/javascript" src="../static/js/home.js" th:inline="javascript" ></script>