<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
<link rel = "stylesheet" href="../static/css/login.css" />

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

<!--<script type="text/javascript"  src="../static/js/jquery.js"></script>-->

<!--<script type="text/javascript" src="../static/js/jquery.validate.min.js" th:inline="javascript"></script>-->
<!--<script type="text/javascript" src="../static/js/messages_zh.js" th:inline="javascript"></script>-->
<script type="text/javascript" src="../static/js/register.js" th:inline="javascript"></script>



<body>
<div class="registerDiv">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form id="registerForm" class="form-horizontal" action="/registerPost" method="post" >
                <span class="heading">用户注册</span>
                <div class="form-group">
                    <input  class="form-control" name="username" id="username" placeholder="用户名">
                    <i class="fa fa-user"></i>
                </div>


                <div class="form-group">
                    <input  class="form-control" type="email" name="email" id="email" placeholder="电子邮箱">
                    <i class="fa fa-user"></i>

                </div>

                <div class="form-group help">
                    <input type="password" class="form-control" name="password" id="password" placeholder="密　码">
                    <i class="fa fa-lock"></i>
                    <a href="#" class="fa fa-question-circle"></a>
                </div>
                <div class="form-group help">
                    <input type="password" class="form-control" name="passwordR" id="passwordR" placeholder="重复密码">
                    <i class="fa fa-lock"></i>
                    <a href="#" class="fa fa-question-circle"></a>
                </div>
                <div>
                    <span id="tipUsername" style="color:red; "></span>

                    <span id="tipEmail" style="color:red; "></span>

                    <span id="passwordTip" style="color:red; "></span>


                </div>


                <div class="form-group">

                    <button class="btn btn-default" type="submit">注册</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<input type="hidden" name="userName" id="userName">-->
<!--<p id="user"></p>-->
</body>
</html>

