<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace = "com.spring.demo.mapper.ArticleMapper">
    <insert id="saveArticle"  parameterType="com.spring.demo.entity.Article"
                useGeneratedKeys="true" keyProperty="articleId">
            insert into article (title, content,user_id)
            values (#{title,jdbcType=VARCHAR},
                    #{content,jdbcType=VARCHAR},
                    #{userId,jdbcType=BIGINT})
    </insert>

    <update id="updateArticle" parameterType="com.spring.demo.entity.Article"
    useGeneratedKeys="true" keyProperty="articleId">
        update article
        set title = #{title},
            content = #{content}
        where id = #{articleId}
    </update>

    <select id="getArticleList" resultType="com.spring.demo.entity.Article" parameterType="long">
        select id articleId,
               user_id userId,
               title,
               create_time createTime,
               content
            from article
        where user_id = #{userId}
        order by create_time desc

    </select>
    <delete id="deleteArticle" parameterType="long">
        delete from article
        <!--<if test="articleId !='' and articleId !=null">-->
        where id = #{articleId}
        <!--</if>-->
    </delete>

    <select id="viewArticleById" parameterType="long" resultType="com.spring.demo.entity.Article">
        select title ,
               content
            from
            article
        where id = #{articleId}

    </select>

    <select id="showArticleTitle" parameterType="long" resultType="com.spring.demo.entity.Article">
        select title,
               id articleId,
               create_time createTime
        from article
        where user_id = #{userId}
    </select>
</mapper>
