<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace = "com.spring.demo.mapper.CommentMapper">

        <insert id="saveComment"  parameterType="com.spring.demo.entity.Comment"
                useGeneratedKeys="true" keyProperty="commentId">
                insert into comments()
                values (null,
                #{comment,jdbcType=VARCHAR},
                now(),
                #{userId,jdbcType=BIGINT},
                #{replyCommentId,jdbcType=BIGINT},
                #{articleId,jdbcType=BIGINT})

        </insert>

        <select id="showCommentByArticleId" parameterType="long" resultType="com.spring.demo.entity.Comment">
                select
                c.id commentId,
                u.username,
                c.create_time createTime,
                c.comment comment
                from comments c
                left join user u
                on c.user_id = u.id
                where c.article_id = #{articleId}
        </select>

        <select id="getPostTime" resultType="string" parameterType="long">
                select create_time createTime
                from comments
                where
                id = #{commentId}
        </select>

        <select id="getCommentPoster" parameterType="long" resultType="string">
                select u.username
                from comments c
                left join user u
                on c.user_id = u.id
                where c.id = #{commentId}
        </select>
        <select id="getCommentById" resultType="string" parameterType="long">
                select comment
                from comments
                where id = #{commentId}
        </select>

</mapper>